<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <title>주파고|동학개미운동은계속된다!</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Stylish', sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#cards-box').empty();
            $('#rising_stocks').empty();
            $('#fast_rising_stocks').empty();
            rising_stocks();
            fast_rising_stocks();
            // showPost();
        });

        function post_stock() {
            let stock_input = $("#post_stock").val();
            $.ajax({
                type: "POST",
                url: "/post_stock",
                data: {stock : stock_input},
                success: function (response) {
                    let news_list = response["news_list"]
                    console.log(news_list)
                    for (let i = 0; i < news_list.length; i++) {
                        let og_image = news_list[i][0];
                        let og_title = news_list[i][1];
                        let og_description = news_list[i][2];
                        let temp_html = `<div class="card">
                                            <img class="card-img-top"
                                                 src="${og_image}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="card-title">${og_title}</a>
                                                <p class="card-text">${og_description}</p>
                                            </div>
                                        </div>`;
                        $("#cards-box").append(temp_html);
                    }
                }
            })
        }

        function rising_stocks() {
            $.ajax({
                type: "GET",
                url: "/rising_stocks",
                data: {},
                success: function (response) {
                    // console.log(response);
                    let rising_stocks = response["rising_stocks"]
                    // console.log(rising_stocks);
                    let temp_html_head = `<th>순위</th>
                                         <th>종목명</th>
                                         <th>검색비율</th>
                                         <th>등락률</th>
                    `;
                    $("#rising_stocks").append(temp_html_head);
                    for (let i = 0; i < 5; i++) {
                        let company_ranking = rising_stocks[i]['순위'];
                        let company_name = rising_stocks[i]['종목명'];
                        let company_rate = rising_stocks[i]['검색비율'];
                        let company_updown = rising_stocks[i]['등락률'];
                        // console.log(company_ranking)
                        // console.log(company_name)
                        // console.log(company_rate)
                        let temp_html_info = `<tr>
                                             <td>"${company_ranking}"</td>
                                             <td>"${company_name}"</td>
                                             <td>"${company_rate}"</td>
                                             <td>"${company_updown}"</td>
                                        </tr>
                        `;
                        $("#rising_stocks").append(temp_html_info);

                    }

                }
            });
        }

        function fast_rising_stocks() {
            $.ajax({
                type: "GET",
                url: "/fast_rising_stocks",
                data: {},
                success: function (response) {
                    console.log(response);
                    let fast_rising_stocks = response["fast_rising_stocks"]
                    console.log(fast_rising_stocks);
                    let temp_html_head = `<th>순위</th>
                                         <th>종목명</th>
                                         <th>현재가</th>
                                         <th>등락률</th>
                    `;
                    $("#fast_rising_stocks").append(temp_html_head);
                    for (let i = 0; i < 5; i++) {
                        let company_ranking = fast_rising_stocks[i]['N'];
                        let company_name = fast_rising_stocks[i]['종목명'];
                        let company_price = fast_rising_stocks[i]['현재가'];
                        let company_updown = fast_rising_stocks[i]['등락률'];
                        // console.log(company_ranking)
                        // console.log(company_name)
                        // console.log(company_rate)
                        let temp_html_info = `<tr>
                                             <td>"${company_ranking}"</td>
                                             <td>"${company_name}"</td>
                                             <td>"${company_price}"</td>
                                             <td>"${company_updown}"</td>
                                        </tr>
                        `;
                        $("#fast_rising_stocks").append(temp_html_info);

                    }

                }
            });
        }

        function showPost() {
            $.ajax({
                type: "GET",
                url: "http://spartacodingclub.shop/post",
                data: {},
                success: function (response) {
                    // console.log(response);
                    let movies = response["articles"]
                    // console.log(movies);
                    for (let i = 0; i < movies.length; i++) {
                        // console.log(movies[i])
                        let comment = movies[i]['comment'];
                        let image = movies[i]['image'];
                        let desc = movies[i]['desc'];
                        let title = movies[i]['title'];
                        let url = movies[i]['url'];
                        // console.log(comment, image, desc, title, url);
                        makeCard(comment, image, desc, title, url);
                    }
                }
            });
        }

        function makeCard(comment, image, desc, title, url) {
            let temp_html = `<div class="card">
                                            <img class="card-img-top"
                                                 src="${image}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <a href="${url}" class="card-title">${title}</a>
                                                <p class="card-text">${desc}</p>
                                                <p class="card-text comment">${comment}</p>
                                            </div>
                                        </div>`
            $('#cards-box').append(temp_html);

        }
    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">주파고</h1>
        <img src="https://t1.daumcdn.net/cfile/tistory/993545405EB7A9342C" data-noaft="1" jsname="HiaYvf"
             jsaction="load:XAeZkd;" style="width: 385px; height: 294.14px; margin: 0px;">
        <p class="lead">우리가 역사다 -John Ver-</p>
        <table id="rising_stocks" border="1">
            <th>테이블</th>
            <th>만들기</th>
            <tr><!-- 첫번째 줄 시작 -->
                <td>첫번째 칸</td>
                <td>두번째 칸</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr><!-- 두번째 줄 시작 -->
                <td>첫번째 칸</td>
                <td>두번째 칸</td>
            </tr><!-- 두번째 줄 끝 -->
        </table>
        <table id="fast_rising_stocks" border="1">
            <th>테이블</th>
            <th>만들기</th>
            <tr><!-- 첫번째 줄 시작 -->
                <td>첫번째 칸</td>
                <td>두번째 칸</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr><!-- 두번째 줄 시작 -->
                <td>첫번째 칸</td>
                <td>두번째 칸</td>
            </tr><!-- 두번째 줄 끝 -->
        </table>
<!--        <table border="1">-->
<!--            <th>테이블</th>-->
<!--            <th>만들기</th>-->
<!--            <tr>&lt;!&ndash; 첫번째 줄 시작 &ndash;&gt;-->
<!--                <td>첫번째 칸</td>-->
<!--                <td>두번째 칸</td>-->
<!--            </tr>&lt;!&ndash; 첫번째 줄 끝 &ndash;&gt;-->
<!--            <tr>&lt;!&ndash; 두번째 줄 시작 &ndash;&gt;-->
<!--                <td>첫번째 칸</td>-->
<!--                <td>두번째 칸</td>-->
<!--            </tr>&lt;!&ndash; 두번째 줄 끝 &ndash;&gt;-->
<!--        </table>-->

        <hr class="my-4">
        <p class="lead">
            종목명 : <input id="post_stock" type="text"/>
            <button id="btn-post-box" type="button" class="btn btn-primary" onclick="post_stock()">검색</button>
        </p>
    </div>

<!--    <div class="jumbotron">-->
<!--        <h1 class="display-4">주식차트 가져오기</h1>-->
<!--        <img class="_stock_chart"-->
<!--             src="https://ssl.pstatic.net/imgfinance/chart/mobile/day/005930_search.png?sidcode=1397739283538"-->
<!--             width="300" height="186" alt="1일그래프"-->
<!--             onerror="this.src='https://ssl.pstatic.net/imgfinance/chart/mobile/empty.png'">-->
<!--        <p class="lead">우리가 역사다 -John Ver-</p>-->
<!--        <table border="1">-->
<!--            <th>테이블</th>-->
<!--            <th>만들기</th>-->
<!--            <tr>&lt;!&ndash; 첫번째 줄 시작 &ndash;&gt;-->
<!--                <td>첫번째 칸</td>-->
<!--                <td>두번째 칸</td>-->
<!--            </tr>&lt;!&ndash; 첫번째 줄 끝 &ndash;&gt;-->
<!--            <tr>&lt;!&ndash; 두번째 줄 시작 &ndash;&gt;-->
<!--                <td>첫번째 칸</td>-->
<!--                <td>두번째 칸</td>-->
<!--            </tr>&lt;!&ndash; 두번째 줄 끝 &ndash;&gt;-->
<!--        </table>-->
<!--        <table border="1">-->
<!--            <th>테이블</th>-->
<!--            <th>만들기</th>-->
<!--            <tr>&lt;!&ndash; 첫번째 줄 시작 &ndash;&gt;-->
<!--                <td>첫번째 칸</td>-->
<!--                <td>두번째 칸</td>-->
<!--            </tr>&lt;!&ndash; 첫번째 줄 끝 &ndash;&gt;-->
<!--            <tr>&lt;!&ndash; 두번째 줄 시작 &ndash;&gt;-->
<!--                <td>첫번째 칸</td>-->
<!--                <td>두번째 칸</td>-->
<!--            </tr>&lt;!&ndash; 두번째 줄 끝 &ndash;&gt;-->
<!--        </table>-->

<!--    </div>-->


    <div id="cards-box" class="card-columns">
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>